@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald:700,400|Roboto+Condensed:700,700italic);

//colors
$lightest-green: #E2EAE2;
$dark-gray: #2E352E;
$orange: #D36000;

//fonts
$body: Roboto, sans-serif;
$heading: "Roboto Condensed", serif;

$breakpoint: 800px;

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: $body;
  background-color: $lightest-green;
}

header {
	background-color: $dark-gray;
	padding: .1em;
	color: lighten($lightest-green,90%);

	h1 {
		padding-left: .5em;
	}
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
	flex: 1 100%;
	margin: .3em 0;
}

h4 {
	font-size: 1.1em;
	display: inline;

	&::before {
		display: block;
		content: " ";
		width: 100%;
	}
}

h5 {
	font-size: 1em;
	margin-top: 0;
	background: $dark-gray;
	color: lighten($orange, 20%);
	padding: .5em;
}

h6 {
	font-size: .9em;
	margin-bottom: .1em;
	margin-top: .5em;
}

button {
	background-color: darken($lightest-green,55%);
	color: $lightest-green;
	border: none;
	padding: .3em 1em;
	font-family: $heading;
}

main {
	padding: 1em;
}

#map {
	height: 50vh;
	border: 1px solid darken($lightest-green,55%);
}

#hike_summary {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background: darken($lightest-green,60%);
	color: $lightest-green;
	padding: 1em;

	div {
		flex: 1 50%;
		padding-right: 1em;
	}

	img {
		flex: 1 40%;
		max-height: 15em;
	}

	button {
		background: darken($lightest-green,10%);
		color: $dark-gray;
	}

	@media screen and (max-width: $breakpoint) {
		flex-flow: column wrap;

		div {
			flex: 1 100%;
		}

		img {
			flex: 1 100%;
		}
	}
}

.feed_item {
	width: 80%;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;

	h4 {
		margin: 1em 0;
	}

	div {
		flex: 1 60%;
		padding-right: 1.5em;
	}

	img {
		flex: 1 40%;
		border: 1px solid darken($lightest-green,55%);
	}

	@media screen and (max-width: $breakpoint) {
		flex-flow: column wrap;
		width: 100%;
	}
}

#weather {
	display: flex;
	flex-flow: row wrap;

	h4 {
		flex: 1 100%;
		margin-bottom: .5em;
	}

	section {
		flex: 1 20%;
		flex-flow: column wrap;
		margin-bottom: 2.5em;
	}

	span {
		flex: 1 100%;
		img {
			max-width: 10em;
		}
	}
}

/* ADMIN.PHP */

#edit_directions_container {
	display: flex;
	flex-flow: column wrap;
	width: 80%;

	button {
		width: 4em;
	}

	.fa-times-circle {
		color: $orange;
	}
}