@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto|Oswald:700,400|Roboto+Condensed:700,700italic);

//colors
$lightest-green: #E2EAE2;
$dark-gray: #2E352E;

//fonts
$body: Roboto, sans-serif;
$heading: "Roboto Condensed", serif;

$breakpoint: 800px;

*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: $body;
  background-color: $lightest-green;
}

header {
	background-color: $dark-gray;
	padding: .1em;
	color: lighten($lightest-green,90%);

	h1 {
		padding-left: .5em;
	}
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.3em;
	flex: 1 100%;
	margin: .3em 0;
}

main {
	padding: 1em;
}

.feed_item {
	width: 80%;
	padding: 1em;
	display: flex;
	flex-flow: row wrap;

	h4 {
		margin: 1em 0;
	}

	div {
		flex: 1 60%;
		padding-right: 1.5em;
	}

	img {
		flex: 1 40%;
		border: 1px solid darken($lightest-green,55%);
	}

	button {
		background-color: darken($lightest-green,55%);
		color: $lightest-green;
		border: none;
		padding: .3em 1em;
		font-family: $heading;
	}

	@media screen and (max-width: $breakpoint) {
		flex-flow: column wrap;
		width: 100%;
	}
}